[submodule "libs/gumbo-parser"]
	path = libs/gumbo-parser
	url = https://github.com/google/gumbo-parser
[submodule "libs/nuklear"]
	path = libs/nuklear
	url = https://github.com/vurtun/nuklear
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/nigels-com/glew
[submodule "libs/pthread-win32"]
	path = libs/pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32
[submodule "libs/moddable"]
	path = libs/moddable
	url = https://github.com/Moddable-OpenSource/moddable
